 <br> <br> <br>
<div class="col-md-offset-4 col-md-5">
<div class="panel panel-primary">
 <div class="panel-heading text-center"> PO Entry Supporting info
</div>
  <form>
      <div class="form-group">
        <label class="form-input" for="Shipping-Address">Shipping-Address </label>
        <textarea type="text" class="form-control" id="Shipping-Address" name="Shipping-Address"></textarea>
         <label class="form-input" for="Billing-Address">Billing-Address </label>
         <textarea type="text" class="form-control" id="Billing-Address" name="Billing-Address"></textarea>
        <label class="form-input" for="Deliverydate">Delivery Date</label>
        <input type="date" class="form-control" id="Deliverydate" name="Deliverydate" required>
         <label class="form-input" for="poNo"> PO No <a style="color: red"></a></label>
         <input type="text" class="form-control" id="PoNo" name="PoNo" required>
          <label class="form-input" for="date">Po Date</label>
          <input type="date" class="form-control" id="date" name="date" required>
          <hr>
          <button type="button" class="btn btn-success">Submit</button>&nbsp;
          <button type="button" class="btn btn-danger">Cancel</button>
 </div>
 </form>
<div>
</div>
</div>
</div>
