<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container w3-teal">
  <h1> Aeprocurex</h1>
</div>

<img src="img_car.jpg" alt="Car" style="width:100%">

<div class="w3-container">
  <p>Aeprocurex is a Bangalore based one stop shop for all Industrial Consumables. Our sales network spread across all regions of India.Well-experienced team of Sourcing and Supply chain management in Industrial Consumables. Customer Satisfaction is our Aim through on time delivery fulfillment, Direct and Indirect Cost reduction, Vendor consolidation.</p>
</div>

<div class="w3-container w3-teal">
  <p> @ Aeprocurex Sourcing Private limited </p>
</div>

</body>
</html> 
